<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- FontAwesome CSS -->
  <script src="https://kit.fontawesome.com/8a2a705dfa.js" crossorigin="anonymous"></script>

  <!-- Custom styles for this template -->
  <script src="https://d3js.org/d3.v4.js"></script>

  <!-- D3 Colour Schema -->
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

  <!-- Map references -->
  <link rel="stylesheet" href="map/jquery-jvectormap-2.0.5.css" type="text/css" media="screen" />

  <script src="map/jquery-3.5.0.js"></script>
  <script src="map/jquery-jvectormap-2.0.5.min.js"></script>
  <script src="map/jquery-jvectormap-fr_regions_2016-mill.js"></script>

</head>

<body>

  <nav class="navbar navbar-dark static-top bg-dark flex-md-nowrap p-1 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Pandemic Policy Advisor</a>
    <ul class="navbar-nav px-3">
    </ul>
  </nav>

  <div class="container-fluid">
    <main role="main" class="px-4 my-2 bg-light">

      <!-- TOP ROW -->
      <div class="row mb-3">
        <div class="col-md-3">

        </div>
        <div class="col-md-5">
          <div class="card shadow-sm">
            <div class="card-header text-uppercase font-weight-bold text-info">
              <i class="far fa-chart-bar mr-2 "></i>Current Camapaign Data: <strong>France</strong>
            </div>
            <div class="card-body p-3">
              <table class="table table-borderless table-sm mb-0">
                <thead class="thead">
                  <tr>
                    <td scope="col" class="font-weight-light">Last Week's Impressions</td>
                    <td scope="col" class="font-weight-light">This Week's Impressions</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span class="lead font-weight-bold">220,021</span>
                    </td>
                    <td><strong><span class="lead">289,320</span></strong> <span class="ml-2 small"></fa><span
                      class="pl-1 text-success">+69299</span><span class="pl-1 text-secondary">new impressions</span></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="card border-primary mb-3 w-100 shadow-sm">
              <div class="card-body p-2 d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0 font-weight-light">Total Cases in France:</h5> <h5><span class="text-primary">167,178</span></h5>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card-deck">
              <div class="card border-danger mb-3 shadow-sm">
                <div class="card-body p-2 d-flex justify-content-between">
                  <h6 class="card-title mb-0 font-weight-light">Total Deaths in France:</h6><br>
                  <h5 class="card-title mb-0 justify-content-end text-danger"> 24,390</h5>
                </div>
              </div>
              <div class="card border-success mb-3 shadow-sm">
                <div class="card-body p-2 d-flex justify-content-between">
                  <h6 class="card-title mb-0 font-weight-light">Total Recoveries<br> in France:</h6><br>
                  <h5 class="card-title mb-0 justify-content-end text-success">24,760</h5>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- SECOND ROW -->
      <div class="row mb-3">
        <div class="col-md-3">
          <div class="card shadow-sm h-100">
            <div class="card-header text-uppercase font-weight-bold text-info">
              <i class="fas fa-file-medical-alt mr-2"></i> Policies
            </div>
            <div class="card-body pt-2">
              <p class="card-text">
                <!--     var allGroup = ["OldPeopleInside","SchoolsClosed","WorkAtHome","NoTourism","ClosedRestaurants","ClosedDiscos"]
 -->
                <h6 class="font-weight-light">Movement Restrictions</h6>
                <input id="one" class="btn btn-outline-secondary" type="button" value="Confined elderly">
                <input id="two" class="btn btn-outline-secondary" type="button" value="Schools closed">
                <input id="fake" class="btn btn-outline-secondary" type="button" value="International flights suspension">
                <input id="fake" class="btn btn-outline-secondary" type="button" value="Public transport">
                <input id="fake" class="btn btn-outline-secondary" type="button" value="Maximum Distance Radius">
                <input id="fake" class="btn btn-outline-secondary" type="button" value="Curfew">
              </p>
              <p class="card-text">
                <h6 class="font-weight-light">Public Health Measures</h6>
                <input id="three" class="btn btn-outline-secondary" type="button" value="Work at Home">
                <input id="four" class="btn btn-outline-secondary" type="button" value="No tourism">
                <input id="fake" class="btn btn-outline-secondary" type="button" value="Airport screenings">
              </p>
              <p class="card-text">
                <h6 class="font-weight-light">Social Distancing</h6>
                <input id="fixe" class="btn btn-outline-secondary" type="button" value="Closed restaurants">
                <input id="six" class="btn btn-outline-secondary" type="button" value="Closed discos">
                <input id="fake" class="btn btn-outline-secondary" type="button" value="Public gatherings (1000 people)">
                <input id="fake" class="btn btn-outline-secondary" type="button" value="Public gatherings (100 people)">
                <input id="fake" class="btn btn-outline-secondary" type="button" value="Limited sport activities">
              </p>
<!--               <p class="card-text">
                <h6 class="font-weight-light">Lockdown</h6>
                <input class="btn btn-outline-secondary" type="button" value="Example">
                <input class="btn btn-outline-secondary" type="button" value="Example">
                <input class="btn btn-outline-secondary" type="button" value="Example">
                <input class="btn btn-outline-secondary" type="button" value="Example">
               </p> -->
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow-sm h-100">
            <div class="card-header text-uppercase font-weight-bold text-info">
              <i class="fas fa-chart-line mr-2"></i> Policy Effects
            </div>
            <div class="card-header bg-white">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Overall Country</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">By Region</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <!-- Initialize a select button -->
              <!-- <select id="selectButton"></select> -->
              <!-- Data Viz -->
              <div id="dataviz"></div>
            </div>
          </div>
          <div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow-sm h-100">
            <div class="card-header text-uppercase font-weight-bold text-info">
              <i class="fas fa-comment-dots mr-2"></i> Strategy
            </div>
            <div class="card-body">
              <h6 class="font-weight-light">Adoption Rate</h6>
              <div class="mb-4">
                <strong><span class="lead">23,94 <span class="text-warning">(Moderate)</span></span></strong><br>
                    <small>Adoption rate affects how well people will follow new policies. It is based on country-specific cultural tightness and government efficiency. Cultural tightness refers to how likely people are to accept new social norms and enforce them in their social environment. Government efficiency refers to how rapidly and effectively governments can allocate resources and cooperate with private businesses for preventative efforts. </small> <a href="#"></a>
              </div>
              <h6 class="font-weight-light">Analysis</h6>
              <small><p class="mb-4">Due to the <span class="text-warning">moderate</span> advertising spend is crucial for public policy adoption and to achieve the projected outcome. In lower adoption rate countries, advertising spend needs to be higher to achieve the same impact. </p></small>

              <h6 class="font-weight-light">Recommended Campaign Budget</h6>
              <div class="mb-4"><strong><span class="lead">€ 30000</span></strong></div>

             <h6 class="font-weight-light">Recommended Channels</h6>
              <div class="mb-3"><small>E-mail, Social Media, Advertising</small>
                </span></div>

              <button type="button" class="btn btn-outline-primary">Create Campaign</button>

              <script>
                $(function () {
                  $('[data-toggle="tooltip"]').tooltip()
                })
              </script>

            </div>
          </div>

        </div>

      </div>

      <!-- THIRD ROW -->
      <div class="row mb-3">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-header text-uppercase font-weight-bold text-info">
              <i class="fas fa-map-marker-alt mr-2"></i>Confirmed Cases by Region</strong>
            </div>
            <div class="card-body">

              <!-- map div and script -->
              <div id="map" style="width: 600px; height: 400px;"></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm h-100 ">
            <div class="card-header text-uppercase font-weight-bold text-info">
              <i class="fas fa-coins mr-2"></i>Campaign Expenditures</strong>
            </div>
            <div class="card-body p-2">
              <section class="chart-container">
                <svg width="620" height="420"></svg>
              </section>
              <style>
                .chart-container {
                  position: relative;
                }

                svg {
                  border-radius: .123rem;
                }

                .bar {
                  fill: #1888d6;
                  transition: all 150ms ease;
                }

                .bar:hover {
                  fill: #09163d;
                }

                .axis--x path {
                  visibility: hidden;
                }

                svg text {
                  fill: black;
                }

                /* tip */
                .tip {
                  width: 6rem;
                  background-color: #eee;
                  text-align: center;
                  box-shadow: 0px 2px 10px -2px #aaa;
                  border: 2px solid #444;
                  transition: all 160ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
                }

                .tip::after {
                  content: " ";
                  position: absolute;
                  bottom: -.5rem;
                  left: 50%;
                  margin-left: -.5rem;
                  border-style: solid;
                  border-width: .5rem .5rem 0 .5rem;
                  border-color: #444 transparent transparent transparent;
                }
              </style>
              <script>
                var static_data = [{
                  grad_year: 'January 2020',
                  student_count: 12000
                }, {
                  grad_year: 'February 2020',
                  student_count: 26000
                }, {
                  grad_year: 'March 2020',
                  student_count: 27302
                }, {
                  grad_year: 'April 2020',
                  student_count: 29403
                }];
                var tip = d3.select(".chart-container")
                  .append("div")
                  .attr("class", "tip")
                  .style("position", "absolute")
                  .style("z-index", "10")
                  .style("visibility", "hidden");

                var svg = d3.select("svg").attr("class", "background-style"),
                  margin = {
                    top: 20,
                    right: 20,
                    bottom: 42,
                    left: 140
                  },
                  width = +svg.attr("width") - margin.left - margin.right,
                  height = +svg.attr("height") - margin.top - margin.bottom;

                var x = d3.scaleBand().rangeRound([0, width]).padding(0.05),
                  y = d3.scaleLinear().rangeRound([height, 0]);

                var g = svg.append("g")
                  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                d3.json("apiPlaceholderURL", function (error, data) {
                  //if (error) throw error;

                  data = static_data;

                  x.domain(data.map(function (d) {
                    return d.grad_year;
                  }));
                  y.domain([0, d3.max(data, function (d) {
                    return d.student_count;
                  })]);

                  g.append("g")
                    .attr("class", "axis axis--x")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x))
                    .append("text")
                    .attr("y", 6)
                    .attr("dy", "2.5em")
                    .attr("dx", width / 2 - margin.left)
                    .attr("text-anchor", "start")
                    .text("Most Recent Months");

                  g.append("g")
                    .attr("class", "axis axis--y")
                    .call(d3.axisLeft(y).ticks(10))
                    .append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 6)
                    .attr("dy", "0.71em")
                    .attr("text-anchor", "end")
                    .text("Expenses (€)");


                  g.selectAll(".bar")
                    .data(data)
                    .enter().append("rect")
                    .attr("class", "bar")
                    .attr("x", function (d) {
                      return x(d.grad_year);
                    })
                    .attr("y", function (d) {
                      return y(d.student_count);
                    })
                    .attr("width", x.bandwidth())
                    .attr("height", function (d) {
                      return height - y(d.student_count)
                    })
                    .on("mouseover", function (d) {
                      return tip.text(d.student_count).style("visibility", "visible").style("top", y(d
                        .student_count) - 13 + 'px').style("left", x(d.grad_year) + x.bandwidth() - 12 + 'px')
                    })
                    //.on("mousemove", function(){return tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");})
                    .on("mouseout", function () {
                      return tip.style("visibility", "hidden");
                    });
                });
              </script>
            </div>
          </div>
        </div>
      </div>
  </div>

  </main>
  </div>
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
<script>
  // set the dimensions and margins of the graph
  var margin = {
      top: 10,
      right: 100,
      bottom: 30,
      left: 60
    },
    width = 700 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

  // append the svg object to the body of the page
  var svg = d3.select("#dataviz")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
      "translate(" + margin.left + "," + margin.top + ")");

  //Read the data
  d3.csv("InfestionsGroupsEffectsFixed.csv", function (data) {

    // List of groups (here I have one group per column)
    var allGroup = ["one","two","three","four","five","six"]

    // add the options to the button
    d3.select("#selectButton")
      .selectAll('myOptions')
      .data(allGroup)
      .enter()
      .append('option')
      .text(function (d) {
        return d;
      }) // text showed in the menu
      .attr("value", function (d) {
        return d;
      }) // corresponding value returned by the button

    // A color scale: one color for each group
    var myColor = d3.scaleOrdinal()
      .domain(allGroup)
      .range(d3.schemeSet2);

    // Add X axis --> it is a date format
    var x = d3.scaleLinear()
      .domain([50, 250])
      .range([0, width]);
    svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

    // Add Y axis
    var y = d3.scaleLinear()
      .domain([0, 25000000])
      .range([height, 0]);
    svg.append("g")
      .call(d3.axisLeft(y));

    // Initialize line with group a
    var line = svg
      .append('g')
      .append("path")
      .datum(data)
      .attr("d", d3.line()
        .x(function (d) {
          return x(+d.time)
        })
        .y(function (d) {
          return y(+d.one)
        })
      )
      .attr("stroke", function (d) {
        return myColor("valueA")
      })
      .style("stroke-width", 4)
      .style("fill", "none")

    // A function that update the chart
    function update(selectedGroup) {

      // Create new data with the selection?
      var dataFilter = data.map(function (d) {
        return {
          time: d.time,
          value: d[selectedGroup]
        }
      })

      // Give these new data to update line
      line
        .datum(dataFilter)
        .transition()
        .duration(1000)
        .attr("d", d3.line()
          .x(function (d) {
            return x(+d.time)
          })
          .y(function (d) {
            return y(+d.value)
          })
        )
        .attr("stroke", function (d) {
          return myColor(selectedGroup)
        })
    }

    // When the button is changed, run the updateChart function
    // d3.select("#selectButton").on("change", function(d) {
    //     // recover the option that has been chosen
    //     var selectedOption = d3.select(this).property("value")
    //     // run the updateChart function with this selected option
    //     update(selectedOption)
    // })

    d3.select('#one').on('click', function (d) {
      var selectedOption = "one"
      update(selectedOption)
    })
    d3.select('#two').on('click', function (d) {
      var selectedOption = "two"
      update(selectedOption)
    })
    d3.select('#three').on('click', function (d) {
      var selectedOption = "three"
      update(selectedOption)
    })
    d3.select('#four').on('click', function (d) {
      var selectedOption = "four"
      update(selectedOption)
    })
    d3.select('#five').on('click', function (d) {
      var selectedOption = "five"
      update(selectedOption)
    })
    d3.select('#six').on('click', function (d) {
      var selectedOption = "six"
      update(selectedOption)
    })
  })
</script>

</body>
<script src="map/loadMap.js"></script>


</html>