<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- FontAwesome CSS -->
  <script src="https://kit.fontawesome.com/8a2a705dfa.js" crossorigin="anonymous"></script>

  <!-- Custom styles for this template -->
  <link href="dashboard.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-dark static-top bg-dark flex-md-nowrap p-1 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Pandemic Policy Advisor</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <main role="main" class="px-4 my-2 bg-light">

      <!-- TOP ROW -->
      <div class="row mb-3">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <i class="far fa-chart-bar mr-2"></i>Current Data Summary: <strong>France</strong>
            </div>
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Overview</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Total</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Deaths</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Recovered</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Hospital Beds</a>
                </li>
              </ul>
            </div>
            <div class="card-body pb-0">
              <table class="table table-bordered table-sm">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Total Cases</th>
                    <th scope="col">New Cases</th>
                    <th scope="col">Active Cases</th>
                    <th scope="col">Serious, Critical</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>123,456</th>
                    <td>123,456</td>
                    <td>123,456</td>
                    <td>123,456</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="card text-white bg-primary mb-3 w-100">
              <div class="card-body p-2 d-flex justify-content-between">
                <h6 class="card-title mb-0">Total Cases Worldwide: 167,178</h6>
                <small><a href="#" class="text-white">View Details ></a></small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card text-white bg-danger mb-3">
                <div class="card-body p-2 d-flex justify-content-between">
                  <h6 class="card-title mb-0">Total Deaths Worldwide: 167,178</h6>
                  <small><a href="#" class="text-white">View Details ></a></small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-white bg-danger mb-3">
                <div class="card-body p-2 d-flex justify-content-between">
                  <h6 class="card-title mb-0">Total Deaths Worldwide: 167,178</h6>
                  <small><a href="#" class="text-white">View Details ></a></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- SECOND ROW -->
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header d-flex justify-content-start">
              <i class="fas fa-file-medical-alt mr-2"></i> Mitigations
            </div>
            <div class="card-body pt-2">
              <p class="card-text">
                <h6>Movement Restrictions</h6>
                <input class="btn btn-outline-secondary" type="button" value="Example">
                <input class="btn btn-outline-secondary" type="button" value="Example">
                <input class="btn btn-outline-secondary" type="button" value="Example">
                <input class="btn btn-outline-secondary" type="button" value="Example">
              </p>
              <p class="card-text">
                <h6>Public Health Measures</h6>
                <input class="btn btn-outline-secondary" type="button" value="Example">
                <input class="btn btn-outline-secondary" type="button" value="Example">
                <input class="btn btn-outline-secondary" type="button" value="Example">
                <input class="btn btn-outline-secondary" type="button" value="Example">
              </p>
              <p class="card-text">
                <h6>Social Distancing</h6>
                <input class="btn btn-outline-secondary" type="button" value="Example">
                <input class="btn btn-outline-secondary" type="button" value="Example">
                <input class="btn btn-outline-secondary" type="button" value="Example">
                <input class="btn btn-outline-secondary" type="button" value="Example">
              </p>
              <p class="card-text">
                <h6 class="card-title">Lockdown</h6>
                <input class="btn btn-outline-secondary" type="button" value="Example">
                <input class="btn btn-outline-secondary" type="button" value="Example">
                <input class="btn btn-outline-secondary" type="button" value="Example">
                <input class="btn btn-outline-secondary" type="button" value="Example">
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <i class="fas fa-chart-line mr-2"></i> Projected Outcome
            </div>
            <div class="card-body">
              <img class="img-fluid"
                src="https://media.npr.org/assets/img/2020/03/11/covid-countries-growth-promo_wide-ea33a5cc976fc78e36f901036ef32b90a395a016.png?s=1400">
            </div>
          </div>
        </div>
        <div>
        </div>
      </div>

    </main>
</div>
    </body>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</body>

</html>
